NODE_ENV=development
PORT=3000
HOST=127.0.0.1
SESSION_SECRET=troque-por-um-segredo-longo-aleatorio-com-ao-menos-32-caracteres
SEGIN_DB_URL=sqlite:./data/segin.sqlite3

NETBOX_URL=
NETBOX_TOKEN=
NETBOX_TOKEN_SCHEME=auto

SAMBA_HOST=
SAMBA_USERNAME=
SAMBA_PASSWORD=
SAMBA_WORKGROUP=
